@use '../../../styles/variables' as *;

// === FOOTER ===
.footerContainer {
  background: var(--bg-tertiary);
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  position: relative;
}

// === Fleche SCROLL TOP ===
.scrollTopButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--text-primary);
  color: var(--bg-primary);
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  cursor: pointer;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--bg-primary);
    color: var(--text-primary);
  }
}

// === A propos ===
.footerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  a {
    font-family: $font-heading;
    font-size: 0.7rem;
    color: var(--text-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size: 0.75rem;
    color: var(--text-quaternary);
    margin: 0;
  }
}

// === RESEAUX SOCIAUX ===
.footerSocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  h2 {
    font-family: $font-heading;
    font-size: 0.7rem;
    color: var(--text-primary);
    margin: 0;
  }
}

.footerSocialLinks {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.socialLogo {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  transition: transform 150ms ease;

  &:hover {
    transform: scale(1.2);
  }
}