@use '../../../styles/variables' as *;

// Overlay (fond sombre)
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

// Content (boite de la modal)
.drawer {
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--bg-primary);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1001;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}

// Bouton fermer (X)
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  background: var(--bg-primary);
  color: var(--text-primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

  &:hover {
    background: var(--text-primary);
    color: var(--bg-primary);
  }

  p {
    margin: 0;
  }
}

// Title avec icone
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: $font-heading;
  font-size: 1.25rem;
  color: var(--text-primary);
  margin: 0;

  svg {
    color: var(--text-primary);
  }
}

// Description
.description {
  color: var(--text-primary);
  font-size: 0.75rem;
  text-align: center;
  margin-top: 0.5rem 0 0.7rem 0;
}

//login et register input styles
.loginInput, .registerInput {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}

