@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf')
format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('/fonts/Merriweather/Merriweather-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

@font-face {
    font-family: 'Love Story';
    src: url('/fonts/LoveStory/Love Story Self Made.ttf')
format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Love Story';
    src: url('/fonts/LoveStory/Love Story Self Made Italic.ttf')
format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}