@use '../../../styles/variables' as *;

.headerContainer {
  // Header prend juste la hauteur de son contenu
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: var(--bg-primary);
  border-bottom: 1px solid var(--bg-secondary);
}

.burgerButton {
  background: none;
  border: 1px solid var(--text-primary);
  font-size: 1.5rem;
  cursor: pointer;
}

.logoImage {
  height: 3rem;
  width: auto;
}

.siteTitle {
  align-items: center;
  font-family: $font-heading;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-primary);
  margin: 0;
}